*{
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header>nav>img{
    width: 200px;
    cursor: pointer;
    margin-bottom: 20px;
}

header>nav>input{
    width: 100px;
    float: right;
    height: 30px;
    border: 2px solid #ccc;
    background: transparent;
    color: grey;
    transition: .5s;
    border-radius: 6px;
    cursor: pointer;
}

header>nav>input:hover{
    background-color: #ccc;
    color: snow;
}

section{
    display: flex;
    justify-content: center;
    align-content:flex-start;
    width: 100%;
}

#frame{
    background-color: whitesmoke;
    width: 80%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 0 30px rgb(0, 0, 0, .5);
}

aside{
    float: right;
    padding: 20px;
    width: 70%;
    height: 300px;
    margin-right: 2%;
}
form{
    display: grid;
    float: left;
    width: 30%;
    height: 300px;
    background: whitesmoke;
    padding: 20px;
    margin-left: 1%;
}

form>img,form>input{
    width: 200px;
    margin-bottom: 10px;
    cursor: pointer;
}

form>input{
    cursor: pointer;
    padding: 6px;
    background-color: gainsboro;
    transition: .5s;
    border: 3px solid whitesmoke;
    color: black;
    font-size: medium;
    outline: none;
    border-radius: 5px;
}

form>input:hover{
    background-color: gray;
    color: white;
}

form>img{
    border: 3px solid #ccc;
}   
aside{
    color: slategray;
    display: flex;
    user-select: none;
}

dialog{
    border: 2px solid whitesmoke;
    border-radius: 6px;
    background-color: whitesmoke;
    box-shadow: 0 0 30px rgb(0, 0, 0, .5);
    width: 80%;
    height: 80%;
}

#btn_close{
    float: right;
    width: 70px;
    height: 25px;
    color: black;
    background-color: gainsboro;
    border: gainsboro;
    border-radius: 4px;
    margin-bottom: 50px;
}

#btn_close:hover{
    color: white;
    background-color:gray;
    border: gray;
}
